<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ServletJsp</display-name>
 
  <servlet>
    <servlet-name>SimpleServlet</servlet-name>
    <servlet-class>servletxml.SimpleServlet</servlet-class>
    <load-on-startup>10</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleServlet</servlet-name>
    <url-pattern>/simple</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WelcomeServletxml</servlet-name>
    <servlet-class>servletxml.WelcomeServletXml</servlet-class>
    <load-on-startup>20</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeServletxml</servlet-name>
    <url-pattern>/welcomexml</url-pattern>
  </servlet-mapping>
  
   <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>